.paginator {
	padding: 20px 0;
	display: flex;
	gap: 20px;
   position: absolute;
   right: 50%;
}

.paginator__page {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
   color: black;
	transition: 0.3 ease;
   font-size: 1.5rem;
}

.paginator__page:hover {
	opacity: 0.7;
}

.paginator__page_active {
   color: red;
}